@import './../../mixins';
@import './../../variables';

.main-menu {
  @include fullScreen($menu-z-index);
  background-color: #fff;

  &.hide {
    display: none;
  }

  #{&}-controls {
    padding: 0 10rem;
    @include flexCenterDistributeEven;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
